<!DOCTYPE html>
<html>
<head>
	<title>Registration page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/register.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container" id="register">
		<h3>Registration Form</h3>
		{{# if error}}
			<div class="alert alert-danger">Passwords do not match</div>
		{{/if}}
		<form method="post" id="registrationform" action="/registered">
			<div class="form-group">
				<label>Username: </label>
				<input type="text" name="username" class="form-control" placeholder="Enter username" required><br>
				<label>Password: </label>
				<input type="password" name="password" class="form-control" placeholder="Enter password" required><br>
				<label>Confirm Password: </label>
				<input type="password" name="password2" class="form-control" placeholder="Enter password again" required><br>
			</div>
			<input type="submit" name="submit" value="SignIn" class="btn btn-primary
			" id="button">
		</form>
</div>

</body>
</html>